{% extends 'base.html' %}
  {% load django_bootstrap5 %}
  {% block title %} poisk
  {% endblock %}
  {% block content %}
    <h1>Поиск</h1>
    <main>
      <form action="{% url 'recipe:find_name' %}">

        {% bootstrap_form form %}

        {% bootstrap_button button_type="submit" content="Поиск" %}

      </form>
    </main>
  {% endblock %}


<!--      {% with request.GET as data %}-->
<!--      {% if form.is_valid %}-->
<!--      <h2> {{inf}}</h2>-->
<!--      <h3>{{inf1}}</h3>-->
<!--      {% endif %}-->
<!--      {% endwith %}-->