{% extends "base.html" %}

    {% block content %}
    <h3>Широкий выбор рецептов</h3>
    <p>Категории и фильтры: Рецепты обычно разделены
        на различные категории, такие как закуски, супы,
        основные блюда, десерты, вегетарианские и мясные
        блюда, что упрощает поиск нужных вариантов.
        Поиск по ингредиентам: Пользователи могут вводить
        доступные ингредиенты, и сайт предложит подходящие
        рецепты, что особенно удобно для тех, кто хочет
        использовать то, что есть в холодильнике.</p>
  {% endblock %}
