{% extends "base.html" %}

    {% block content %}
    <h6>Общие правила использования сайта</h6>
    <h5>Принятие условий</h5>
    <p>Используя наш сайт, вы соглашаетесь с настоящими правилами.
        Если вы не согласны с этими условиями, просьба не использовать сайт.</p>
    <h5>Регистрация и учетные записи</h5>
    <p>Для доступа к определённым функциям сайта может потребоваться регистрация.
        Пользователь несет ответственность за сохранность своих учетных данных и не имеет
        права передавать их третьим лицам. В случае подозрения на несанкционированный
        доступ к вашей учетной записи, необходимо немедленно уведомить администраторов
        сайта.</p>
    <h5>Использование контента</h5>
    <p>Вся информация, представленная на сайте, защищена авторским правом. Запрещается
        ее копирование и распространение без предварительного согласия правообладателей.
        Пользователи имеют право использовать материалы сайта только в личных и некоммерческих целях,
        если иное не указано.</p>
    <h5>Запрещенные действия</h5>
    <p>Запрещается использовать сайт для незаконной деятельности, в том числе, но не ограничиваясь,
        мошенничеством, кибербуллингом и распространением вредоносного ПО.
        Не допускается публикация оскорбительных, непристойных, угрожающих или
        дискриминационных материалов.</p>
    <h5>Конфиденциальность и защита данных</h5>
    <p>Пользовательская информация может собираться для улучшения работы сайта.
        Мы уважаем вашу конфиденциальность и не будем передавать ваши данные третьим
        лицам без вашего согласия, за исключением случаев, предусмотренных законом.</p>
    <h5>Изменения условий</h5>
    <p>Администрация оставляет за собой право в любой момент изменять условия использования сайта.
        Изменения будут опубликованы на этой странице, и ваше дальнейшее использование сайта будет
        означать, что вы принимаете обновленные условия.</p>
    <h5>Ответственность</h5>
    <p>Администрация сайта не несет ответственности за любой ущерб, возникший в результате использования
        сайта или невозможности его использования, включая, но не ограничиваясь, потерей данных или
        прибыли.</p>
    <h5>Контактная информация</h5>
    <p>В случае вопросов или проблем с использованием сайта, вы можете обратиться в службу поддержки через
        контактные формы или указанные адреса электронной почты.</p>
    <p>Эти правила создаются с целью обеспечения безопасного и комфортного использования сайта для всех пользователей.
        Рекомендуется ознакомиться с ними перед началом работы на площадке.</p>
  {% endblock %}
